Repository AH316/sistahology-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahmadawais, @react-frontend-shipper, @db-rls-guardian, @playwright-qa-lead, @docs-scribe, @repo-librarian-vite, @release-captain

fix(ui): polish hero and fix journal entry save logic
  src/pages/NewEntryPage.tsx
Owners: @react-frontend-shipper

test: add data-testid attributes for e2e testing
  src/components/ui/Toast.tsx
  src/pages/HomePage.tsx
  src/pages/NewEntryPage.tsx
Owners: @react-frontend-shipper

test: add minimal QA artifact set with accessibility reports
  .gitignore
  test/artifacts/screens/home-1280.png
  test/artifacts/screens/home-390.png
  test/artifacts/screens/home-768.png
  test/artifacts/screens/new-entry-1280.png
  test/artifacts/screens/new-entry-390.png
  test/artifacts/screens/new-entry-768.png
  test/reports/accessibility-home.json
  test/reports/accessibility-new-entry.json
  test/reports/qa-summary.md
Owners: @ahmadawais, @playwright-qa-lead, @docs-scribe

test(e2e): add playwright tests and QA docs
  .gitignore
  playwright.config.ts
  qa/QA_RUNBOOK.md
  tests/admin-guard.spec.ts
  tests/auth-helper.ts
  tests/global-setup.ts
  tests/journal-new.spec.ts
Owners: @ahmadawais, @playwright-qa-lead, @docs-scribe

fix(a11y): resolve top 5 accessibility and UI issues
  src/pages/HomePage.tsx
  src/pages/NewEntryPage.tsx
Owners: @react-frontend-shipper

test(qa): add comprehensive accessibility audit artifacts
  test/artifacts/accessibility/home-desktop-a11y.json
  test/artifacts/accessibility/home-mobile-a11y.json
  test/artifacts/accessibility/home-tablet-a11y.json
  test/artifacts/accessibility/new-entry-desktop-a11y.json
  test/artifacts/accessibility/new-entry-mobile-a11y.json
  test/artifacts/accessibility/new-entry-tablet-a11y.json
  test/artifacts/screens/home-1280.png
  test/artifacts/screens/home-390.png
  test/artifacts/screens/home-768.png
  test/artifacts/screens/new-entry-1280.png
  test/artifacts/screens/new-entry-390.png
  test/artifacts/screens/new-entry-768.png
Owners: @playwright-qa-lead

test(qa): update accessibility reports and screenshots
  test/artifacts/accessibility/home-desktop-a11y.json
  test/artifacts/accessibility/home-mobile-a11y.json
  test/artifacts/accessibility/home-tablet-a11y.json
  test/artifacts/accessibility/new-entry-desktop-a11y.json
  test/artifacts/accessibility/new-entry-mobile-a11y.json
  test/artifacts/accessibility/new-entry-tablet-a11y.json
  test/artifacts/screens/home-1280.png
  test/artifacts/screens/home-390.png
  test/artifacts/screens/home-768.png
  test/artifacts/screens/home-fixed-desktop.png
  test/artifacts/screens/home-fixed-mobile.png
  test/artifacts/screens/home-fixed-tablet.png
  test/artifacts/screens/new-entry-1280.png
  test/artifacts/screens/new-entry-390.png
  test/artifacts/screens/new-entry-768.png
Owners: @playwright-qa-lead

test(regression): add comprehensive @regression tagged test suite
  package.json
  tests/regression-fixes.spec.ts
Owners: @release-captain, @ahmadawais, @playwright-qa-lead

cleanup: remove test artifacts from git tracking per .gitignore rules
  .gitignore
  test/artifacts/accessibility/home-desktop-a11y.json
  test/artifacts/accessibility/home-mobile-a11y.json
  test/artifacts/accessibility/home-tablet-a11y.json
  test/artifacts/accessibility/new-entry-desktop-a11y.json
  test/artifacts/accessibility/new-entry-mobile-a11y.json
  test/artifacts/accessibility/new-entry-tablet-a11y.json
  test/artifacts/screens/home-1280.png
  test/artifacts/screens/home-390.png
  test/artifacts/screens/home-768.png
  test/artifacts/screens/home-fixed-desktop.png
  test/artifacts/screens/home-fixed-mobile.png
  test/artifacts/screens/home-fixed-tablet.png
  test/artifacts/screens/new-entry-1280.png
  test/artifacts/screens/new-entry-390.png
  test/artifacts/screens/new-entry-768.png
Owners: @ahmadawais, @playwright-qa-lead

fix(ui): improve accessibility and eliminate duplicate elements
  src/App.tsx
  src/components/Navigation.tsx
  src/pages/HomePage.tsx
  src/pages/ProfilePage.tsx
Owners: @ahmadawais, @react-frontend-shipper

chore(qa): curate regression sweep artifacts; keep bulk artifacts ignored
  .gitignore
  docs/qa/2025-09-02/.gitkeep
  docs/qa/2025-09-02/home.png
  docs/qa/2025-09-02/summary.md
  tests/accessibility-auth.spec.ts
  tests/accessibility.spec.ts
  tests/admin.ui.spec.ts
  tests/guest.ui.spec.ts
  tests/ui-regression-sweep.spec.ts
  tests/user.ui.spec.ts
Owners: @ahmadawais, @docs-scribe, @playwright-qa-lead

fix(a11y): ensure single H1 per page for semantic HTML compliance
  src/components/Navigation.tsx
  src/pages/ProfilePage.tsx
Owners: @react-frontend-shipper

docs(qa): verify comprehensive accessibility fixes - all tests pass
  docs/qa/2025-09-02-a11y-verification/README.md
  docs/qa/2025-09-02-a11y-verification/accessibility-verification-summary.md
  docs/qa/2025-09-02-a11y-verification/home-mobile-single-h1.png
  docs/qa/2025-09-02-a11y-verification/navigation-single-profile-icon.png
  docs/qa/2025-09-02-a11y-verification/profile-tablet-contrast.png
  playwright.config.ts
  tests/ui-regression-sweep.spec.ts
Owners: @docs-scribe, @playwright-qa-lead

feat(new-entry): make New Entry page fully functional with enhanced UX
  src/pages/NewEntryPage.tsx
Owners: @react-frontend-shipper

🚀 Setup GitHub Pages deployment with Actions
  .claude/settings.local.json
  .github/workflows/deploy.yml
  CLAUDE.md
  NEW_ENTRY_TEST_SUMMARY.md
  VERCEL_HEADERS.md
  db/CHECK_TESTADMIN.sql
  db/VERIFY.sql
  db/VERIFY_READONLY.sql
  db/VERIFY_SECURITY_QUICK.sql
  db/exports/audit_summary.md
  db/exports/policies_catalog.md
  db/exports/rls_report.md
  db/exports/rls_status_catalog.md
  db/exports/schema.sql
  db/exports/schema_catalog.md
  docs/db/index_suggestions.sql
  docs/db/rls_report.md
  docs/db/schema_report.md
  migrations/2025-09-02_min_write_friendly_indexes.sql
  package-lock.json
  package.json
  scripts/setAdminRole.ts
  src/components/ProtectedRoute.tsx
  src/lib/authListener.ts
  src/lib/authRuntime.prod.ts
  src/lib/supabase.ts
  src/main.tsx
  src/pages/DashboardPage.tsx
  src/pages/HomePage.tsx
  src/pages/LoginPage.tsx
  src/pages/NewEntryPage.tsx
  src/stores/authStore.ts
  src/stores/journalStore.ts
  tailwind.config.js
  test_results.json
  tests/new-entry.spec.ts
  vite.config.ts
Owners: @ahmadawais, @repo-librarian-vite, @release-captain, @docs-scribe, @db-rls-guardian, @react-frontend-shipper, @playwright-qa-lead

.github/CODEOWNERS:

# CODEOWNERS for Sistahology React Application
# This file defines code ownership for automatic review requests

# Global owners (fallback for any file not explicitly listed)
* @ahmadawais

# Frontend source code
/src/ @ahmadawais @react-frontend-shipper

# UI Components and styling
/src/components/ @react-frontend-shipper
/src/components/ui/ @react-frontend-shipper
/src/pages/ @react-frontend-shipper
/src/index.css @react-frontend-shipper
/tailwind.config.js @react-frontend-shipper
/postcss.config.js @react-frontend-shipper

# State management and data layer
/src/stores/ @react-frontend-shipper @db-rls-guardian
/src/lib/supabase*.ts @db-rls-guardian
/src/services/ @react-frontend-shipper @db-rls-guardian
/src/types/ @react-frontend-shipper

# Database and migrations
/db/ @db-rls-guardian
/db/*.sql @db-rls-guardian

# Testing
/tests/ @playwright-qa-lead
/test/ @playwright-qa-lead
*.spec.ts @playwright-qa-lead
*.spec.tsx @playwright-qa-lead
playwright.config.ts @playwright-qa-lead
/src/utils/testUtils.ts @playwright-qa-lead

# Documentation
/docs/ @docs-scribe
*.md @docs-scribe
/README.md @docs-scribe @ahmadawais
/PROJECT.md @repo-librarian-vite @docs-scribe
/TODO.md @repo-librarian-vite
/CLAUDE.md @ahmadawais

# Configuration and build
/vite.config.ts @release-captain
/tsconfig*.json @release-captain
/package.json @release-captain @ahmadawais
/package-lock.json @release-captain
/.env.example @release-captain @db-rls-guardian
/eslint.config.js @release-captain

# CI/CD and deployment
/.github/ @release-captain @ahmadawais
/.github/workflows/ @release-captain
/.github/CODEOWNERS @ahmadawais @repo-librarian-vite

# Scripts and utilities
/scripts/ @release-captain @db-rls-guardian
/server.js @release-captain

# Agent workspace
/.claude/ @ahmadawais @repo-librarian-vite
/.claude/agents/ @ahmadawais
